<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.geonature.sync">

    <application
        android:name=".MainApplication"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="n"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

    </application>

</manifest>