<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="${applicationId}.provider.permission.READ" />
    <uses-permission android:name="${applicationId}.provider.permission.WRITE" />

    <permission
        android:name="${applicationId}.provider.permission.READ"
        android:protectionLevel="signature" />
    <permission
        android:name="${applicationId}.provider.permission.WRITE"
        android:protectionLevel="signature" />

</manifest>
